:root {
  --primary: #000;
  --primary-lighten: #222;
  --opacity-bg: rgba(200, 200, 200, 0.2);
  --inverse: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;
}

.btn-close {
  background-image: url("data:image/svg+xml,<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='2.06066' y1='1.93946' x2='30.3449' y2='30.2237' stroke='white' stroke-width='3'/><line x1='1.93934' y1='30.2236' x2='30.2236' y2='1.93937' stroke='white' stroke-width='3'/></svg>");
  opacity: 1;
}

.btn {
  border-radius: 50px;
  text-align: center;
  padding: 13px 15px 11px;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
  font-family: Raleway;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  background-color: var(--inverse);
  border-color: var(--primary);
  color: var(--primary);
  box-shadow: none;
}

.form-control, .form-control:focus {
  border-radius: 50px;
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
  transition: all 0.3s;
}
.form-control:focus {
  box-shadow: 0 0 0 5px var(--opacity-bg);
}


.input-group-text {
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
  border-radius: 50px;
}

.table {
  color: var(--inverse);
  font-size: 21px;
}

 
.modal-header {
  border: none;
  line-height: 39px;
  font-size: 32px;
}
.modal-content {
  padding: 0 10px 10px;
  background: var(--primary-lighten);
  border-radius: 15px;
}
.modal.position-static .modal-content {
  background-color: var(--opacity-bg);
}
.modal.position-static .modal-dialog-scrollable {
  height: 100%;
}

/* Start Tabs */
.battle-arena .nav-tabs {
  border-bottom: none;
}
.battle-arena .nav-link {
  border: none;
  margin-bottom: 0;
  padding:12px 25px 9px;
  font-size: 17px;
  color: #fff;
}
.battle-arena .nav-link.active {
  border-radius: 8px 8px 0 0;
  color: #fff;
  background: rgba(255,255,255,0.2);
  margin-bottom: 0;
}

.battle-card .nav-tabs {
  border-color: var(--inverse);
  font-size: 22px;
}
.battle-card .nav-tabs .nav-link {
  padding: 15px 22px 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--inverse);
}
.battle-card .nav-tabs .nav-link:hover, .battle-card .nav-tabs .nav-link:focus {
  color: var(--inverse);
}
.battle-card .nav-tabs .nav-link:not(.active) {
  border: none;
}
.battle-card .nav-tabs .nav-link:not(.active):hover {
  border: none;
  background: var(--opacity-bg);
}
.battle-card .nav-tabs .nav-item.show .nav-link, .battle-card .nav-tabs .nav-link.active {
  color: var(--inverse);
  background-color: var(--primary);
  border-color: var(--inverse) var(--inverse) var(--primary);
}
.battle-card .tab-pane {
  padding: 15px 0 0 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid var(--inverse);
  border-color: transparent var(--inverse) var(--inverse) var(--inverse);
}
/* End Tabs */


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tippy-arrow::before{
  -webkit-transform:scale(1.9);
  -ms-transform:scale(1.9);
  transform:scale(1.9);
}
.tippy-menu-list {
  padding: 3px 0 3px;
}
.tippy-menu-list li {
  padding: 2px 0;
  font-size: 16px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color:rgba(0,0,0,0.06);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:#fff;
}

.btn-light.active {
  background-color: #ddeaff;
}