:root {
  --primary: #fff;
  --primary-lighten: #fff;
  --opacity-bg: rgba(200, 200, 200, 0.2);
  --inverse: #000;
}


.btn-close {
  background-image: url("data:image/svg+xml,<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='2.06066' y1='1.93946' x2='30.3449' y2='30.2237' stroke='black' stroke-width='3'/><line x1='1.93934' y1='30.2236' x2='30.2236' y2='1.93937' stroke='black' stroke-width='3'/></svg>");
  opacity: 1;
}

@media screen and (max-width:768px) {

	.header-inner .nav,
	header.nav-open {
		background: #fff
	}
	.header-inner .nav-toggle .line {
		height: 3px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		-o-transition: transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		background-color: #000;
		border-radius: 2px
	}	
}
	
body {
	color: #000;
}

body,
.footer  {
	background-color: #fff;	
}

.catalog-filter summary:before, .login-form-toggle:after,
.catalog-sorting .serial-number:after, .sales .stats-range .btn:after{
	background-image: url('/img/svg/chev-down-black.svg')
}

.catalog-filter li .checkbox:after {
	background-image: url('/img/svg/check-black.svg')
}

.catalog-filter .slider-wrap:after,
.noUi-handle:after, .noUi-handle:before {
	background-color: #000;
}

.catalog-filter .search:before {
	background-image: url('/img/svg/search-black.svg')
}

.card .btn:hover {
    background: #212121;
    color: #fff;
}

.sales-list li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -ms-grid;
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	min-width: 220px;
	height: 154px;
	background-color: rgba(217, 217, 217, .24);
	border-radius: 15px;
	padding: 20px;
	line-height: 1.572;
	font-size: 16px
}

.pa-preview-nav {
	z-index: 12;
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	grid-gap: 15px;
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	right: 0;
	padding: 15px 20px;
	border: 1px solid;
	overflow: hidden;
	border-radius: 18px;
	cursor: default;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	background-color: #fff;
}