body {
	color: #000;
}

body,
.footer  {
	background-color: #fff;	
}

.catalog-filter summary:before, .login-form-toggle:after,
.catalog-sorting .serial-number:after, .sales .stats-range .btn:after{
	background-image: url('/img/svg/chev-down-black.svg')
}

.catalog-filter li .checkbox:after {
	background-image: url('/img/svg/check-black.svg')
}

.catalog-filter .slider-wrap:after,
.noUi-handle:after, .noUi-handle:before {
	background-color: #000;
}

.catalog-filter .search:before {
	background-image: url('/img/svg/search-black.svg')
}

.buy-more {
	position: relative;
	padding-top: 132.4427480916031%;
	border-radius: 15px;
	background: rgba(217, 217, 217, .33);
	letter-spacing: .265em
}

.buy-more:hover .btn {
    background: #212121;
    color: #fff
}

.sales-list li {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -ms-grid;
	display: grid;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	min-width: 220px;
	height: 154px;
	background-color: rgba(217, 217, 217, .24);
	border-radius: 15px;
	padding: 20px;
	line-height: 1.572;
	font-size: 16px
}