body {
	color: #000;
}

body,
.footer  {
	background-color: #fff;	
}

.catalog-filter summary:before, .login-form-toggle:after,
.catalog-sorting .serial-number:after, .sales .stats-range .btn:after{
	background-image: url('/img/svg/chev-down-black.svg')
}

.catalog-filter li .checkbox:after {
	background-image: url('/img/svg/check-black.svg')
}

.catalog-filter .slider-wrap:after,
.noUi-handle:after, .noUi-handle:before {
	background-color: #000;
}

.catalog-filter .search:before {
	background-image: url('/img/svg/search-black.svg')
}