:root {
  --primary: #000;
  --primary-lighten: #222;
  --opacity-bg: rgba(200, 200, 200, 0.2);
  --inverse: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.nowrap {
  white-space: nowrap;
}

@font-face {
  font-family: 'bitbybit';
  src: url('/fonts/bitbybit/bitbybit.eot');
  src: url('/fonts/bitbybit/bitbybit.eot?#iefix') format('embedded-opentype'),
       url('/fonts/bitbybit/bitbybit.woff2') format('woff2'),
       url('/fonts/bitbybit/bitbybit.woff') format('woff')
}


.parallax {
  height: 100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform-style: preserve-3d;
}
.parallax__section {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3);
  background: url('/img/parallax2.png') center bottom no-repeat;
  background-size: cover;
}
.parallax__layer--base {
  transform: translateZ(-1px) scale(2);
  background: url('/img/parallax2.png') center bottom no-repeat;
  background-size: cover;
}
.parallax__layer--front {
  background: url('/img/parallax1.png') center bottom no-repeat;
  background-size: cover;

}


#svelte > main {
  position: relative;
  z-index: 100;
}
.footer {
  position: relative;
  z-index: 100;
}

html {
  background: url('/img/bg.jpg') center bottom no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  font-family: "bitbybit", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  font-weight: 900;
}

.btn-close {
  background-image: url("data:image/svg+xml,<svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='2.06066' y1='1.93946' x2='30.3449' y2='30.2237' stroke='white' stroke-width='3'/><line x1='1.93934' y1='30.2236' x2='30.2236' y2='1.93937' stroke='white' stroke-width='3'/></svg>");
  opacity: 1;
}

.btn {
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px 9px;
}

.btn-primary, .btn-primary:disabled, .btn-primary.disabled {
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
}

.btn-light {
  background-color: transparent;
  border-color: rgba(255,255,255, 0.8);
  color: #fff;
}
.btn-light:focus {
  background: transparent;
  color: #fff;
}
.btn-light.active {
  background: #fff;
  color: #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  background-color: var(--inverse);
  border-color: var(--primary);
  color: var(--primary);
  box-shadow: none;
}


.form-control, .form-control:focus {
  border-radius: 50px;
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
  transition: all 0.3s;
}
.form-control:focus {
  box-shadow: 0 0 0 5px var(--opacity-bg);
}


.input-group-text {
  background-color: var(--primary);
  border-color: var(--inverse);
  color: var(--inverse);
  border-radius: 50px;
}

.table {
  color: var(--inverse);
  font-size: 21px;
}

 
.modal-header {
  border: none;
  line-height: 39px;
  font-size: 32px;
}
.modal-content {
  padding: 0 10px 10px;
  background: var(--primary-lighten);
  border-radius: 15px;
}
.modal.position-static .modal-dialog-scrollable {
  height: 100%;
}

/* Start Tabs */
.battle-card .nav-tabs {
  border-color: var(--inverse);
  font-size: 22px;
}
.battle-card .nav-tabs .nav-link {
  padding: 15px 22px 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--inverse);
}
.battle-card .nav-tabs .nav-link:hover, .battle-card .nav-tabs .nav-link:focus {
  color: var(--inverse);
}
.battle-card .nav-tabs .nav-link:not(.active) {
  border: none;
}
.battle-card .nav-tabs .nav-link:not(.active):hover {
  border: none;
  background: var(--opacity-bg);
}
.battle-card .nav-tabs .nav-item.show .nav-link, .battle-card .nav-tabs .nav-link.active {
  color: var(--inverse);
  background-color: var(--primary);
  border-color: var(--inverse) var(--inverse) var(--primary);
}
.battle-card .tab-pane {
  padding: 15px 0 0 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid var(--inverse);
  border-color: transparent var(--inverse) var(--inverse) var(--inverse);
}

.tab-pane {
  background-color: #000;
}
/* End Tabs */


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tippy-arrow::before{
  -webkit-transform:scale(1.9);
  -ms-transform:scale(1.9);
  transform:scale(1.9);
}
.tippy-menu-list {
  padding: 3px 0 3px;
}
.tippy-menu-list li {
  padding: 2px 0;
  font-size: 16px;
}



.logo-home {
  position: absolute;
  left: 3%;
  color: #f0f0f0;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 45.25px;
  top: 3.8%;
  width: 15vw;
  max-width: 198px;
  text-align: center;
}
.logo-home:hover {
  color: #000;
  background: #fff;
  transition: all 0.7s;
}

@media screen and (max-width:768px) {
  .logo-home {
    display: none;
  }
}
.auth-home {
  margin-top: 1px;
  position: absolute;
  width: 15vw;
  max-width: 198px;
  top: 3.8%;
  right: 3%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color:rgba(0,0,0,0.06);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color:rgba(0,0,0,0.2);
}


@keyframes soaring-stake {
  0%,100%{
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, -6px);
  }
}
